* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.allbody {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25283d;
  /* color: white; */
}

.contaner {
  position: relative;
  /* background-color: #fff; */
  /* width: 350px;
  height: 400px; */
}

.clock {
  width: 300px;
  height: 300px;
  /* background-color: rgb(228, 148, 228); */
  background-color: #25283d;
  border: 2px solid #1a213a;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.17) 0px 12px 25px, rgba(0, 0, 0, 0.09) 0px -3px 15px,
    rgba(0, 0, 0, 0.17) 0px 12px 25px, rgba(0, 0, 0, 0.09) 0px -3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 10px;
  text-align: center;
  color: white;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 30px;
}
/* 
.clock div {
  font-size: 30px;
} */

.clock::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(209, 8, 8);
  position: absolute;
  z-index: 2;
}

.textcolor {
  color: fuchsia;
  margin-bottom: 80px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  animation: colorAnimation 5s linear 2s infinite alternate;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: rgb(3, 248, 3);
  }
  40% {
    color: blue;
  }
  50% {
    color: rgb(143, 2, 244);
  }
  60% {
    color: rgb(240, 4, 240);
  }
  70% {
    color: pink;
  }
  80% {
    color: purple;
  }
  90% {
    color: cyan;
  }
  100% {
    color: red;
  }
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 10px;
}
